:root {
  /* ### Primary color */
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* ### Neutral color */
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /*  Font and Typo*/

  --font-size: 0.875rem;
  --fraun: "Fraunces", serif;
  --mont: "Montserrat", sans-serif;
}

/* Using Border Model */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--mont);
  font-weight: 500;
  font-size: var(--font-size);
  background-color: var(--cream);
  color: var(--darkGrayishBlue);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--white);
}

section {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column wrap;
  background-color: var(--white);
  border-radius: 10px;
  min-width: 300px;
  width: 375px;
  max-width: 90%;
  /* height: 75vh; */
  margin: 2rem auto;
}

section .image {
  background-image: url("images/image-product-mobile.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* max-width: 100%; */
  height: 35vh;
  /* max-height: 300px; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.prod-details {
  padding: 1.5rem;
  /* height: 55%; */
}

.prod-details h3 {
  font-size: var(--font-size);
  letter-spacing: 5px;
  margin: 0.5rem 0 1rem 0;
}

.prod-details h1 {
  margin: 1rem 0;
  font-family: var(--fraun);
  font-size: calc(var(--font-size) * 2.3);
  font-weight: bold;
  color: var(--veryDarkBlue);
}

.prod-details p {
    line-height: calc(var(--font-size) * 1.8);
    font-size: calc(var(--font-size) * 1.2);
}

.price {
  margin: 1rem 0;
  font-family: var(--fraun);
  font-size: calc(var(--font-size) * 2);
  color: var(--darkCyan);
}

.price span {
  color: var(--darkGrayishBlue);
  font-family: var(--mont);
  vertical-align: middle;
  font-size: small;
  text-decoration: line-through;
  margin: 15px;
}

.cta-click {
  margin: 1rem 0;
  display: block;
  background-color: var(--darkCyan);
  padding: 1rem 3rem;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

.cta-click [class*="fa"] {
  margin-right: 1rem;
}

.cta-click:hover {
  background-color: hsl(160, 73%, 9%);
}

@media (min-width: 1200px) {
    html{
        background-color: whitesmoke;
    }
  body {
    border: 1px solid red;
    height: 100vh;
    /* box-shadow: 0px 10px 15px 5px rgba(145, 132, 132, 0.75); */
  }

  section {
    height: 50vh;
    width: 50vh;
    max-width: 1440px;
    margin: 25vh auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  section .image {
    background-color: black;
    background-image: url("./images/image-product-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    height: 100%;
  }

   .prod-details {
    padding: 1rem;
  } 

  .prod-details h3 {
    margin: 1rem 0;
  }

  .prod-details h1 {
    margin: 1rem 0;
    font-size: calc(var(--font-size) * 2.3);
    line-height: 1.2;
    padding-right: 0.5rem;
  }

  .prod-details p {
    margin: 1.5rem 0;
    font-size: calc(var(--font-size) * 1);
    line-height: 1.5;
  }

  .prod-details .price {
    margin: 1.5rem 0;
    font-size: calc(var(--font-size) * 1.8);
  }

  .prod-details .cta-click {
    margin: 0;
    padding: 0.8rem 2rem;
    border-radius: 10px;
  }
}
