:root {
  /* ### Primary color */
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* ### Neutral color */
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /*  Font and Typo*/

  --font-size: 0.875rem;
  --fraun: "Fraunces", serif;
  --mont: "Montserrat", sans-serif;
}

/* Using Border Model */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--mont);
  font-weight: 500;
  font-size: var(--font-size);
  background-color: var(--cream);
  color: var(--darkGrayishBlue);
  /* width: 320px; */
  /* height: auto; */
  /* margin: 2rem auto; */
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--white);
}

section {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--white);
  border-radius: 10px;
  width: 375px;
  max-width: 90%;
  height: 600px;
  margin: 2rem auto;
}

section .image {
  background-image: url("images/image-product-mobile.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* max-width: 100%; */
  height: 45%;
  /* max-height: 300px; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.prod-details {
  padding: 1rem;
  height: 50%;
}

.prod-details h3 {
  font-size: var(--font-size);
  letter-spacing: 5px;
  margin-bottom: 0.5rem;
}

.prod-details h1 {
  font-family: var(--fraun);
  font-size: calc(var(--font-size) * 2);
  color: var(--veryDarkBlue);
}

.price {
  margin: 1.5rem 0;
  font-family: var(--fraun);
  font-size: calc(var(--font-size) * 2);
  color: var(--darkCyan);
}

.price span {
  color: var(--darkGrayishBlue);
  font-family: var(--mont);
  vertical-align: middle;
  font-size: small;
  text-decoration: line-through;
  margin: 15px;
}

.cta-click {
  display: block;
  background-color: var(--darkCyan);
  padding: 1rem 3rem;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

.cta-click [class*="fa"] {
  margin-right: 1rem;
}

.cta-click:hover {
  background-color: hsl(160, 73%, 9%);
}

@media (min-width: 1200px) {
  body {
    border: 1px solid red;
    /* max-width: 1440px; */
}

section {
    border: 1px solid red;
    width: 55vw;
    height: 75vh;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 0; */
  }

  section .image {
    border: 1px solid red;
    background-color: black;
    background-image: url("./images/image-product-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
  }

  .prod-details {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    padding: 2rem 2.5rem;
    /* margin: 1rem auto; */
  }

  .prod-details h3 {
    margin: 1rem 0 2rem 0;
    font-size: calc(var(--font-size) * 1.4);
  }

  .prod-details h1 {
    text-align: left;
    font-size: calc(var(--font-size) * 3);
    margin: 2rem 0 2rem 0;
  }

  .prod-details p {
    margin: 2rem 0 2rem 0;
    font-size: calc(var(--font-size) * 1.3);
    line-height: 1.8;
}


.prod-details .price {
    margin: 2rem 0 2rem 0;
    font-size: calc(var(--font-size) * 3);
}

.prod-details .cta-click {
    margin: 2rem 0 2rem 0;
    font-size: calc(var(--font-size) * 1.5);
    padding: 1rem 2rem;
}
}
